#ifndef _NGX_[% SUBSYS %]_LUA_PHASE_H_INCLUDED_
#define _NGX_[% SUBSYS %]_LUA_PHASE_H_INCLUDED_


#include "ngx_[% subsys %]_lua_common.h"


void ngx_[% subsys %]_lua_inject_phase_api(lua_State *L);


#endif /* _NGX_[% SUBSYS %]_LUA_PHASE_H_INCLUDED_ */

/* vi:set ft=c ts=4 sw=4 et fdm=marker: */
