
/*
 * Copyright (C) Yichun Zhang (agentzh)
 */


#ifndef _NGX_[% SUBSYS %]_LUA_LEX_H_INCLUDED_
#define _NGX_[% SUBSYS %]_LUA_LEX_H_INCLUDED_


#include "ngx_[% subsys %]_lua_common.h"


int ngx_[% subsys %]_lua_lex(const u_char *const s, size_t len, int *const ovec);


#endif
