
/*
 * Copyright (C) Xiaozhe Wang (chaoslawful)
 * Copyright (C) Yichun Zhang (agentzh)
 */


#ifndef _NGX_[% subsystem FILTER upper %]_LUA_CAPTUREFILTER_H_INCLUDED_
#define _NGX_[% subsystem FILTER upper %]_LUA_CAPTUREFILTER_H_INCLUDED_


#include "ngx_[% subsystem %]_lua_common.h"


ngx_int_t ngx_[% subsystem %]_lua_capture_filter_init(ngx_conf_t *cf);


#endif /* NGX_[% subsystem FILTER upper %]_LUA_CAPTUREFILTER_H */

/* vi:set ft=c ts=4 sw=4 et fdm=marker: */
